body {
    box-sizing: border-box;
    margin: 0;
}
header {
    background-color: black;
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-width: 320px;
    height: 45px;
    color: #fff;
}
.header--logo {
    margin: 10px;
    display: flex;
}
.header--logo div {
    margin: 0 10px;
    width: 25px;
    height: 25px;
    background-color: white;
}

.cat li:hover {
    background-color: blue;

}
.cat {
    padding: 5px;
    margin: 0;
}
.header--logo .cat li {
    list-style: none;
    margin: 0;
}                                                                                                                     
.cat li .po li{
    position: relative;
}
.cat Li ul li .po {
    right: -140px;
    top: 0;
}
.cat li a{
    background-color: black;
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}
.cat li a:hover {
    background-color: blue;
}
.cat > li {
    float: left;
}
.cat li ul {
    padding: 0;
    margin: 0;
    display: none;
    position: absolute;
    min-width: 140px;
}
.cat li:hover > ul {
    display: block;
}
.header--account {
    display: flex;
    margin-right: 10px;
}
.header--account .input span {
    background-color: white;
    
}
.header--account .input {
    align-self: center;
    margin: 0;
}
.header--account .input input{
    height: 25px;
    width: 100px;
    padding:  0 10px;
    border-radius: 30px;
    border: 1px solid white;
    background-color: black;
    color: white;
}
.header--account .cuadro{
    margin: auto  10px;
    background-color: white;
    width: 25px;
    height: 25px;
}
.main--picture {
    width: 95%;
    color: black;
    margin: auto;
    text-align: center;
    padding-top: 10px;
}
.main--picture h1 {
    margin: 0;
    font-size: 16px;
}
.main--picture div {
    width: 100%;
    height: 140px;
    border: 1px solid black;
}
.main--product h2{
    text-align: center;
}
.main--product .pr {
    display: flex;
    flex-wrap: wrap;
}
.main--product .pr div{
    border: black 1px solid;
    border-radius: 10pxº;
    width: 135px;
    height: 150px;
    margin: 10px auto;
    color: white;
}
footer {
    width: 100%;
    background-color: black;
    color: white;
}