body {
  background-color: black;
  color: white;
  margin: 0;
}
header {
  display: flex;
  justify-content: space-between;
}
h1 {
  margin: 0;
}
header .languajes {
  height: 30px;
  background-color: #0099ff;
}
.title {
  color: #0099ff;
  font-size: 90px;
  text-align: center;
}
.container-box{
  padding: 7px;
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;
}
.container-box .resume {
  margin: 5px;
  width: 200px;
  height: 200px;
  background-color: white;
  border-radius: 10px;
}
.container-box .projects {
  margin: 5px;
  width: 200px;
  height: 200px;
  background-color: white;
  border-radius: 10px;

}
.container-box .box-3 {
  margin: 5px;
  width: 200px;
  height: 200px;
  background-color: white;
  border-radius: 10px;
}
.container-box .box-4 {
  margin: 5px;
  width: 200px;
  height: 200px;
  background-color: white;
  border-radius: 10px;
}
footer {
  background-color: #0099ff;
  text-align: center;
}
